
.one-article address ul {
    display: flex;
}
.one-article address ul li {
    padding: 10px;
}
/*portada*/
.img-head {
    border-bottom: 50px;
    align-items: center;
}
/*links*/
.link-extenser {
    flex: 1;
    margin-left:20px;
    align-items: center;
}
.one-article address a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    flex: 1;
    margin-left: 10px;
}